{
  "portLimit": 50,
  "auth": {
    "endpoint": "https://identity.api.rackspacecloud.com",
    "region": "ORD",
    "adminUser": "admin",
    "adminPassword": "password",
    "LBaaSUser": "user",
    "LBaaSPassword": "password"
  },
  "mysql": {
    "host": "localhost",
    "user": "user",
    "password": "password",
    "database": "lbaasproxy"
  },
  "logger": {
    "logfile": "./output.log"
  },
  "redis": {
    "host": "localhost",
    "port": "6379"
  }
}
