{
  "portLimit": 50,
  "auth": {
    "endpoint": "https://identity.api.rackspacecloud.com",
    "region": "ORD",
    "adminUser": "admin",
    "adminPassword": "password",
    "LBaaSUser": "user",
    "LBaaSPassword": "password"
  },
  "mysql": {
    "host": "localhost",
    "user": "user",
    "password": "password",
    "database": "lbaasproxy"
  },
  "logger": {
    "logfile": "./output.log"
  },
  "sentinel-monitor": {
    "host": "host",
    "port": "26379"
  },
  "sentinels": [
    {
      "host": "host1",
      "port": "26379"
    },
    {
      "host": "host2",
      "port": "26379"
    },
    {
      "host": "host3",
      "port": "26379"
    }
  ]
}
